@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import 'flowbite/src/themes/default';
@plugin 'flowbite/plugin';
@source '../node_modules/flowbite';
